*.o
*.user
*.dll
*.exe
*.exe.*
*.lib
*.exp
*.pdb
*.suo
*.sdf
*.layout
*.depend
*.lic
*.pfk
*.psess
doxygen/
*Enterprise*
*Premium*
*.coverage
*.opensdf
million.csv
Debug/
Release/
bin/
obj/
node.js/build/
node.js/node_module/