Makefile
*.m4
configure
config.*
autom4te.cache/*
src/.deps/*
src/.libs/*
src/src/*
src/vmod_fiftyonedegrees.vcc
bin/*
varnish-cache*/*
*.o
*.lo
*.la
Makefile.in

src/vcc_if.*
src/vmod_fiftyonedegrees.man.rst
src/vmod_fiftyonedegrees.rst

vmod_fiftyonedegrees.3
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
